@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

:root{
 --gray:#333;
 --green: #4bae4f;
 --lightgray: #edeef0;
 --gradiant: linear-gradient(to right, #9500ff, #ff00f2);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: "Playwrite US Modern", cursive;
    background: url(https://cdn.wallpapersafari.com/30/0/n0HOqk.gif);
}
.todolist{
    backdrop-filter: blur(10px);
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 50px #edeef0dc;
}
.todolist .title{
display: flex;
align-items: center;
margin-bottom: 10px;
}
.todolist .title img{
    width: 30px;
    margin-left: 10px;
}
.todolist .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.todolist .row input{
background-color: var(--lightgray);
border: none;
outline: none;
padding: 10px;
width: 85%;
border-radius: 50px 0 0 50px;
font-size: 15px;
}
.todolist .row .btn{
    border: none;
    background: var(--gradiant);
    padding: 11px 30px;
    border-radius: 0 50px 50px 0;
    color: azure;
    cursor: pointer;
}
.todolist ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    position: relative;
    
}
.todolist ul li span{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
}
.todolist ul li ::before{
 content: "";
 position: absolute;
 top: 11px;
 left: -430px;
 width: 28px;
 height: 28px;
 cursor: pointer;  
 background: url("./assist/unchecked-15.png") right/cover;
}